extends header.pug   
    
block content 
    container
        row
            .jumbotron
                h1 ASOS Sale Alerter
            form(method="post")
                .col
                    label Your Email:
                    .col
                        input(type="text", name="email")
                .col    
                    label ASOS URL:
                    .col    
                        input(type="text", name="url")
                .col
                    br
                    input(type="submit", name="submit")