<% include header %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry){ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= entry.username %>
            </div>
            <div class="panel-body">
                <%= entry.password %>
            </div>
        </div>
    <% }) %>
<% } else { %>
    No Entries! <a href="/new-entry">Add One</a>
<% } %>
<% include footer %>
