extends header.pug   
    
block content 
    .container
        .jumbotron
            h1 Item saved, we can't guarantee the item will ever be in the ASOS Sale, but if it is, you'll be the first to know.
            a(href="/") Click here to go back